h1, h2, h3, h4, h5, h6, .buttonTestDefault,.buttonTestHover,.buttonTestVisited,.linkDefault,.linkOther{
    font-family: 'Courier New', Courier, monospace;
}
ul, ol, p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    color:#233740;
    border-bottom: solid thick #80A2AB;
    text-align:left;
}
h2{
    color:#80A2AB;
}
h3{
    color:#80A2AB;
}
h4, h5, h6{
    color:#B2DDDA;
}
body{
    background-color: rgb(117, 115, 115);
}
a:link{
    color:#B2DDDA;
    text-decoration: none;
}
a:hover, a:visited{
    color:#CFE569;
}
button{
    color:#B2DDDA;
    border: solid thin black;
    background-color:#233740;
}
button:hover{
    color:#80A2AB;
}
button:visited{
    color:#CFE569;
    background-color:#4D5E66;
}
ul, ol{
    color:#B2DDDA;
    font-size: 14pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
}
p{
    color:#B2DDDA;
    font-size:14pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    width:150px;
    height:auto;
}
.wrapper{
    display:flex;
}
.box{
    width:20px;
    height:20px;
    border:1px solid;
}
.baseColor{
    background: #233740;
}
.secondaryColor{
    background: #4D5E66;
}
.tertiaryColor{
    background: #80A2AB;
}
.fourthColor{
    background: #B2DDDA;
}
.fifthColor{
    background: #CFE569;
}
.listFont{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    width:200px;
    height:auto;
}
nav{
    background-color:#233740;
    padding: 0.1em;
    position:-webkit-sticky;
    position:sticky;
    top:0;
    margin:-10px;
}
nav>ul{
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.feature{
    width:100px;
    height:auto;
    float:right;
}
.grid{
    display:grid;
    grid-template-columns: 3fr 1fr;
    gap:20px;
    margin:0 auto;
    padding: 0 20px;
    margin-left: -20px;
}
h3>a:link{
    text-decoration: underline;
}
.pageTitle{
    text-align: center;
    border: solid thick #233740;
}
.bodyList{
    background-color:#233740;
    margin: 0 45% 0 0;
    padding-bottom: 10px;
    padding-top: 10px;
}
.listFlex{
    float:left;
    border: solid thin #233740;
}
.grid2{
    display:grid;
    grid-template-columns: 1fr 4fr;
    gap:20px;
    margin:0 auto;
    padding: 0 20px;
    border: solid thin #233740;
}
.leftContent{
    text-align: center;
    vertical-align: middle;
}
.wikiFeature{
    float:right; 
    width:200px;
    height:auto;
}
.bodyList>li>a, .bodyList>li>ul>li>a{
    text-decoration: underline;
}
.giraffeFeature{
    text-align: center;
}
.leftContent2{
    vertical-align:middle;
}
.rightContent{
    text-align: right;
}


@media only screen and (max-width: 600px){
    h1{
        text-align: center;
    }
    h2{
        color:#4D5E66;
    }
    body{
        background-color: #B2DDDA;
    }
    p{
        color:#80A2AB;
    }
    h3>a:link, h3>a:visited{
        color:#4D5E66;
    }
    .bodyList{
        background-color:#233740;
        margin-right: 30px;
        margin-left:30px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    img{
        width:100px;
        height:auto;
    }
    .grid{
        display:grid;
        grid-template-columns: 3fr 1fr;
        gap:20px;
        margin:0 auto;
        padding: 0 20px;
        max-width: 980px;
        margin-left: -20px;
    }
    .feature{
        width:100px;
        height:auto;
        float:right;
    }
}
