html, body{
    margin:0;
}

body{
    overflow: hidden;
    height: inherit;
}

html{
    height:90%;
}
nav{
    background-color:#233740;
    padding: 0.1em;
    position:-webkit-sticky;
    position:sticky;
    top:0;
    margin:-10px;
    display:flex;
}
nav>ul{
    align-items:center;
    justify-content:space-around;
    padding: 10px;
    overflow: hidden;
}
nav>ul>li{
    float:left;
    padding: 0px 20px 0px 20px;
}
nav>ul>li:hover{
    background-color: #111;
}
a:link{
    color:#B2DDDA;
    text-decoration: none;
}
a:hover, a:visited{
    color:#CFE569;
}
ul, ol{
    color:#B2DDDA;
    font-size: 14pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
}
body{
    background-color: rgb(117, 115, 115);
}
h1 {
    font-size: 2rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: 80px;
    left: 5px;
  
    color: transparent;
    text-shadow: 0 0 1px white;
  }
  .instructions{
    position:absolute;
    top:50%;
    left:24%;
    color: transparent;
    text-shadow: 0 0 1px white;
  }
  .play{
    position:absolute;
    top:60%;
    left:24%;
    color:yellow;
    text-decoration: solid;
    text-shadow: 0 0 1px white;
  }
  .play:hover{
    cursor:pointer;
  }
  .play, .instructions{
    text-align: center;
  }
  .disclaimer{
    position:absolute;
    top:40%;
    left:24%;
    color: transparent;
    text-shadow: 0 0 1px white;
  }
  @media only screen and (max-width: 600px){
    nav>ul>li{
        float:none;
        padding: 0px 20px 0px 20px;
    }
    h1{
        top:230px;
    }
  }
